@model Nettbutikk.Models.Category

@{
    ViewBag.Title = Html.DisplayNameFor(model => model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <hr />
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@Html.ActionLink(product.Name, "Details", new { controller = "products", Id = product.Id })</li>
        }
    </ul>
</div>
