<appSettings>
  <add key="google-api-client-id" value="558567984654-ieqreupjcb5bhjap16i7tftc5ice2i9o.apps.googleusercontent.com" />
  <add key="google-api-client-secret" value="vXlFR0raKzX4eoP3fVbsq2c0" />
  <add key="facebook-api-app-id" value="1056163161082096" />
  <add key="facebook-api-app-secret" value="fbc9d6cdc6172601ffed7ebce0d2ed3d" />
</appSettings>
