@using Nettbutikk.Models
@model ProductView
@{
    var ReturnUrl = ViewBag.ReturnUrl;
}


<div class="wrapper">
    <a href="@ReturnUrl">Tilbake</a>
    @Html.Partial("Product_Details", Model)
</div>

