@using Nettbutikk.Models
@model IEnumerable<Category>

    <div class="categories" id="main-categories-list">
        @Html.Partial("_CategoryList", Model);
    </div>

    <div class="content">
        her e mitt content!
    </div>



